@charset "UTF-8";
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.exercise-header {
  padding: 1rem 0;
  margin: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: #00a4bd;
}

.testimonial {
  background: #f8f8f8;
  color: #777;
  padding: 30px;
}
.testimonial > div {
  max-width: 810px;
  margin: 0 auto;
}
@media (min-width: 720px) {
  .testimonial > div {
    display: flex;
    align-items: center;
  }
}
.testimonial > div > div {
  padding: 30px 30px 0;
  margin: 0 0 30px;
  max-width: 500px;
  position: relative;
  border-left: 2px solid #ee752f;
}
.testimonial > div > div:before {
  background-color: #ee752f;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  content: "“";
  display: block;
  font-family: "Times Roman", serif;
  font-size: 55px;
  height: 40px;
  left: -22px;
  line-height: 65px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
}
.testimonial > div > div:after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #ee752f;
  position: absolute;
  left: -6px;
  bottom: 0;
  border-radius: 50%;
}
.testimonial > div > div > p {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 30px;
}
.testimonial > div > div > span {
  font-weight: 700;
  font-size: 16px;
}
.testimonial > div a {
  display: inline-block;
  border-radius: 3px;
  background-color: #48a1dd;
  color: #fff;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}

button {
  display: inline-block;
  border: none;
  padding: 5px;
  margin: 0;
  text-decoration: none;
  background: #eee;
  box-shadow: 0 3px #ccc;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  transition: background 250ms ease-in-out, transform 150ms ease;
  min-width: 115px;
  min-height: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #ccc;
}

.button--plain {
  background-color: transparent;
  color: #00a4bd;
  padding: 0;
  text-decoration: underline;
  box-shadow: none;
}
.button--plain:hover, .button--plain:focus {
  color: #ee752f;
  background-color: transparent;
}

.filterable-content {
  border: 1px solid grey;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  max-width: 1200px;
  margin: 0 auto;
}
.filterable-content__header {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px 15px;
}
.filterable-content__filters button {
  margin-right: 10px;
  margin-bottom: 50px;
}
.filterable-content__search {
  text-align: right;
}
.filterable-content__items {
  display: grid;
  grid-template-columns: auto;
  min-height: 500px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .filterable-content__items {
    grid-template-columns: auto auto auto;
  }
}
@media (min-width: 1300px) {
  .filterable-content__items {
    grid-template-columns: auto auto auto;
  }
}

.tile {
  margin-bottom: 20px;
  width: 100%;
}
.tile__content {
  max-width: 300px;
  margin: 0 auto;
}
.tile__image {
  max-width: 100%;
}

.radio {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}

.dropdown {
  position: relative;
  float: left;
}
.dropdown__menu {
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 50px;
  display: none;
}
.dropdown__menu--open {
  display: inline-block;
}
.dropdown__menu:before {
  content: "";
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ccc;
  position: absolute;
  left: 12px;
  top: -12px;
}
.dropdown__menu:after {
  content: "";
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #fff;
  position: absolute;
  left: 13px;
  top: -10px;
}

.checkbox {
  border-top: 1px solid #ccc;
}
.checkbox:first-child {
  border-top: none;
}
.checkbox label {
  display: block;
  padding: 10px 15px 10px 30px;
  text-transform: uppercase;
  position: relative;
}
.checkbox label:hover {
  background-color: #eee;
}
.checkbox label:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  position: absolute;
  left: 10px;
  top: 12px;
}
.checkbox input {
  display: none;
}
.checkbox input:checked + label:before {
  background-color: #00a4bd;
}

/*# sourceMappingURL=index.css.map */
