@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.exercise-header {
  padding: 1rem 0;
  margin: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: #00a4bd;
}

body > div:nth-child(2) {
  background: #f8f8f8;
  color: #777;
  padding: 30px;
}
body > div:nth-child(2) > div {
  max-width: 810px;
  margin: 0 auto;
}
@media (min-width: 720px) {
  body > div:nth-child(2) > div {
    display: flex;
    align-items: center;
  }
}
body > div:nth-child(2) > div > div {
  padding: 30px 30px 0;
  margin: 0 0 30px;
  max-width: 500px;
  position: relative;
  border-left: 2px solid #ee752f;
}
body > div:nth-child(2) > div > div:before {
  background-color: #ee752f;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  content: "“";
  display: block;
  font-family: "Times Roman", serif;
  font-size: 55px;
  height: 40px;
  left: -22px;
  line-height: 65px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
}
body > div:nth-child(2) > div > div:after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #ee752f;
  position: absolute;
  left: -6px;
  bottom: 0;
  border-radius: 50%;
}
body > div:nth-child(2) > div > div > p {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 30px;
}
body > div:nth-child(2) > div > div > span {
  font-weight: 700;
  font-size: 16px;
}
body > div:nth-child(2) > div a {
  display: inline-block;
  border-radius: 3px;
  background-color: #48a1dd;
  color: #fff;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}

button {
  display: inline-block;
  border: none;
  padding: 10px;
  margin: 0;
  text-decoration: none;
  background: #f3f3f3;
  box-shadow: 0 3px #ccc;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  transition: background 250ms ease-in-out, transform 150ms ease;
  min-width: 140px;
  min-height: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background: #ccc;
}

.button--arrow:after {
  content: "";
  height: 10px;
  width: 10px;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  position: absolute;
  transform: rotate(45deg);
  right: 20px;
  top: 10px;
}

.button--plain {
  background-color: transparent;
  box-shadow: none;
  color: #00a4bd;
  min-height: 20px;
  padding: 0;
  text-decoration: underline;
}
.button--plain:hover {
  color: #ee752f;
  background-color: transparent;
}

.filterable-content {
  border: 1px solid #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  max-width: 940px;
  margin: 0 10px 50px;
}
@media (min-width: 940px) {
  .filterable-content {
    margin: 0 auto 50px;
  }
}
.filterable-content__header {
  border-bottom: 1px solid #333;
  display: grid;
  grid-template-columns: auto;
  justify-content: space-between;
  padding: 20px 20px 30px;
  row-gap: 30px;
}
@media (min-width: 650px) {
  .filterable-content__header {
    grid-template-columns: auto auto;
  }
}
.filterable-content__filters .dropdown:first-child {
  margin-right: 20px;
}
.filterable-content__items {
  display: grid;
  grid-template-columns: auto;
  align-content: space-around;
  list-style: none;
  margin: 0;
  padding: 10px;
}
@media (min-width: 650px) {
  .filterable-content__items {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 940px) {
  .filterable-content__items {
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }
}
@media (min-width: 650px) {
  .filterable-content__clear {
    text-align: right;
  }
  .filterable-content__clear button {
    text-align: right;
  }
}
.filterable-content__no-results {
  text-align: center;
  padding: 50px;
  min-height: 500px;
}

.search-field {
  position: relative;
}
.search-field:before {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: 2px solid #333;
  position: absolute;
  right: 15px;
  top: 9px;
}
.search-field:after {
  content: "";
  height: 4px;
  transform: rotate(-45deg);
  border: 1px solid #333;
  position: absolute;
  right: 14px;
  top: 20px;
}
.search-field input {
  border: 1px solid #ccc;
  height: 35px;
  width: 100%;
  padding: 10px 35px 10px 10px;
}
@media (min-width: 650px) {
  .search-field input {
    grid-template-columns: auto auto;
    width: 190px;
  }
}

.tile {
  margin-bottom: 20px;
  width: 100%;
}
.tile__content {
  max-width: 300px;
  margin: 0 auto;
}
.tile__genres {
  font-size: 14px;
  text-transform: capitalize;
}
.tile__image {
  width: 100%;
  min-height: 400px;
  border: 1px solid grey;
}
.tile__image--default {
  color: #fff;
  padding: 20px;
  width: auto;
  background: url(https://placekitten.com/g/300/440);
  text-shadow: 1px 1px #333;
}

.radio {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 10px;
}

.dropdown {
  position: relative;
  float: left;
}
.dropdown__scrollarea {
  position: relative;
  height: 265px;
  overflow: scroll;
}
.dropdown__menu {
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 50px;
  display: none;
  height: 265px;
  z-index: 1;
}
.dropdown__menu--open {
  display: inline-block;
}
.dropdown__menu:before {
  content: "";
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ccc;
  position: absolute;
  left: 12px;
  top: -12px;
}
.dropdown__menu:after {
  content: "";
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #fff;
  position: absolute;
  left: 13px;
  top: -10px;
}

.checkbox {
  border-top: 1px solid #ccc;
}
.checkbox:first-child {
  border-top: none;
}
.checkbox label {
  display: block;
  padding: 10px 25px 10px 50px;
  text-transform: uppercase;
  position: relative;
}
.checkbox label:hover {
  background-color: #eee;
}
.checkbox label:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  position: absolute;
  left: 20px;
  top: 12px;
}
.checkbox input {
  display: none;
}
.checkbox input:checked + label:before {
  background-color: #00a4bd;
}

/*# sourceMappingURL=index.css.map */
