$color-orange: rgb(238, 117, 47);
$color-white: #fff;
$color-blue: #00a4bd;
$color-otherblue: #48a1dd;
$color-silver: #ccc;
$color-grey: #333;

$breakpoint-small: 650px;
$breakpoint-medium: 940px;
$breakpoint-large: 1300px;

// global styles

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.exercise-header {
  padding: 1rem 0;
  margin: 2rem 0;
  text-align: center;
  color: $color-white;
  background-color: $color-blue;
}

// exercise 1
body > div:nth-child(2) {
  background: #f8f8f8;
  color: #777;
  padding: 30px;

  > div {
    max-width: 810px;
    margin: 0 auto;

    @media (min-width: 720px) {
      display: flex;
      align-items: center;
    }

    > div {
      padding: 30px 30px 0;

      margin: 0 0 30px;
      max-width: 500px;
      position: relative;
      border-left: 2px solid $color-orange;

      &:before {
        background-color: $color-orange;
        border-radius: 50%;
        border: 2px solid $color-white;
        color: $color-white;
        content: "\“";
        display: block;
        font-family: "Times Roman", serif;
        font-size: 55px;
        height: 40px;
        left: -22px;
        line-height: 65px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 40px;
      }

      &:after {
        content: "";
        height: 10px;
        width: 10px;
        background-color: $color-orange;
        position: absolute;
        left: -6px;
        bottom: 0;
        border-radius: 50%;
      }

      > p {
        font-family: "Roboto Slab", serif;
        font-size: 20px;
        line-height: 28px;
        margin: 0 0 30px;
      }

      > span {
        font-weight: 700;
        font-size: 16px;
      }
    }

    a {
      display: inline-block;
      border-radius: 3px;
      background-color: $color-otherblue;
      color: $color-white;
      padding: 20px 30px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
      font-weight: 700;
    }
  }
}

// exercise 2

button {
  display: inline-block;
  border: none;
  padding: 10px;
  margin: 0;
  text-decoration: none;
  background: #f3f3f3;
  box-shadow: 0 3px $color-silver;
  color: $color-grey;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  transition: background 250ms ease-in-out, transform 150ms ease;
  min-width: 140px;
  min-height: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background: $color-silver;
}

.button--arrow {
  &:after {
    content: "";
    height: 10px;
    width: 10px;
    border-bottom: 2px solid $color-grey;
    border-right: 2px solid $color-grey;
    position: absolute;
    transform: rotate(45deg);
    right: 20px;
    top: 10px;
  }
}

.button--plain {
  background-color: transparent;
  box-shadow: none;
  color: $color-blue;
  min-height: 20px;
  padding: 0;
  text-decoration: underline;

  &:hover {
    color: $color-orange;
    background-color: transparent;
  }
}

.filterable-content {
  border: 1px solid $color-grey;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  max-width: 940px;
  margin: 0 10px 50px;


  @media (min-width: $breakpoint-medium) {
    margin: 0 auto 50px;
  }

  &__header {
    border-bottom: 1px solid $color-grey;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    padding: 20px 20px 30px;
    row-gap: 30px;

    @media (min-width: $breakpoint-small) {
      grid-template-columns: auto auto;
    }
  }

  &__filters .dropdown:first-child {
    margin-right: 20px;
  }

  &__items {
    display: grid;
    grid-template-columns: auto;
    align-content: space-around;

    // min-height: 530px;
    list-style: none;
    margin: 0;
    padding: 10px;

    @media (min-width: $breakpoint-small) {
      grid-template-columns: auto auto;
    }
    @media (min-width: $breakpoint-medium) {
      grid-template-columns: auto auto auto;
      justify-content: space-between;
    }
  }

  &__clear {

    @media (min-width: $breakpoint-small) {
      text-align: right;

      button {
        text-align: right;
      }
    }
  }

  &__no-results {
    text-align: center;
    padding: 50px;
    min-height: 500px;
  }
}

.search-field {
  position: relative;

  &:before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 10px;
    border: 2px solid $color-grey;
    position: absolute;
    right: 15px;
    top: 9px;
  }
  &:after {
    content: "";
    height: 4px;
    transform: rotate(-45deg);
    border: 1px solid $color-grey;
    position: absolute;
    right: 14px;
    top: 20px;
  }

  input {
    border: 1px solid $color-silver;
    height: 35px;
    width: 100%;
    padding: 10px 35px 10px 10px;

    @media (min-width: $breakpoint-small) {
      grid-template-columns: auto auto;
      width: 190px;
    }
  }
}

.tile {
  margin-bottom: 20px;
  width: 100%;

  &__content {
    max-width: 300px;
    margin: 0 auto;
  }

  &__genres {
    font-size: 14px;
    text-transform: capitalize;
  }

  &__image {
    width: 100%;
    min-height: 400px;
    border: 1px solid grey;

    &--default {
      color: $color-white;
      padding: 20px;
      width: auto;
      background: url(https://placekitten.com/g/300/440);
      text-shadow: 1px 1px $color-grey;
    }
  }
}

.radio {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 10px;
}

.dropdown {
  position: relative;
  float: left;

  &__scrollarea {
    position: relative;
    height: 265px;
    overflow: scroll;
  }

  &__menu {
    background-color: $color-white;
    border: 1px solid $color-silver;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 50px;
    display: none;
    height: 265px;
    z-index: 1;

    &--open {
      display: inline-block;
    }

    &:before {
      content: "";
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid $color-silver;
      position: absolute;
      left: 12px;
      top: -12px;
    }
    &:after {
      content: "";
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-bottom: 11px solid $color-white;
      position: absolute;
      left: 13px;
      top: -10px;
    }
  }
}

.checkbox {
  border-top: 1px solid $color-silver;

  &:first-child {
    border-top: none;
  }

  label {
    display: block;
    padding: 10px 25px 10px 50px;
    text-transform: uppercase;
    position: relative;

    &:hover {
      background-color: #eee;
    }

    &:before {
      content: "";
      display: inline-block;
      height: 10px;
      width: 10px;
      border: 1px solid grey;
      border-radius: 10px;
      position: absolute;
      left: 20px;
      top: 12px;
    }
  }

  input {
    display: none;

    &:checked + label:before {
      background-color: $color-blue;
    }
  }
}
